#nowplaying {
	font-weight: bold;
}

#next {
	font-style: italic;
	max-width: 33%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#timeleft {
	position: absolute;
	top: 270px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	/*text-shadow: 0 0 3px white;*/
	color: white;
}

#playlist {
	height: 31px;
}

#slider {
	width: calc(100% + 14px);
	height: 16px;
	margin: 40px -7px 0 -7px;
	background: transparent;
}

#waveform {
	border-top: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	transform: translateZ(0);
	width: calc(100% - 12px);
	height: 100px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(/waveform);
	transition: all 0.5s ease;
	margin: 15px 0 0 0;
}

.player-icon {
	height: 80px;
	margin-top: 5px;
	margin-right: 10px!important;
	position: absolute;
}

.player-icon.fa-play {
	color: rgba(70, 180, 255, 1);
	/* animation: playPulse 1s infinite alternate;
	transform: translateZ(0); */
}

#playerdiv {
	height: 230px;
}

#player {
	display: none;
	white-space: nowrap;
}

#nowplaying {
	margin-left: 100px;
	color: white;
}

#queue-body tr, #custom-body tr {
	cursor: move;
}

#queue-body td:last-child, #playlists-body td:last-child, #custom-body td:last-child {
	text-align: right;
}

#search {
	font-size: 1.4em;
	line-height: 1.4em;
}

table[data-sortable] th:after {
	position: absolute;
}

#results th, #albums th, #playlists th {
	cursor: pointer;
}

tbody tr:hover, tbody tr.sorting-row {
	background-color: #596069!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: linear-gradient(180deg, #3e444c 0%, #3e444c 00%, #2e3338 100%);
	border-bottom-color: #2e3338;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	background: linear-gradient(180deg, #3e444c 0%, #3e444c 00%, #2e3338 100%);
}

@media (max-width: 1200px) {
	#setting-buttons .btn-lg, #control-buttons .btn-lg {
		font-size: 0;
	}
	#setting-buttons .btn-lg i, #control-buttons .btn-lg i {
		font-size: 24px;
	}
}

@media (max-width: 960px) {
	#next {
		opacity: 0;
	}
}

.btn-group {
	width: 50%;
}

.btn-group .btn {
	width: 25%;
}

#control-buttons.btn-group .btn {
	width: 50%;
}
#button-prev, #button-next {
	display: none;
}

#control-buttons {
	padding-right: 70px;
}

#setting-buttons {
	padding-left: 70px;
	margin-right: -3px;
}

@keyframes curPulse {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(70, 180, 255, 0.3);
	}
}

@keyframes playPulse {
	0% {
		color: rgba(255, 255, 255, 1);
	}
	100% {
		color: rgba(70, 180, 255, 1);
	}
}

tr.cur {
	font-weight: bold;
	background-color: rgba(70, 180, 255, 0.2) !important;
}

.play tr.cur {
	font-weight: bold;
	background-color: rgba(70, 180, 255, 0.35) !important;
	/* animation: curPulse 1s infinite alternate;
	transform: translateZ(0); */
}

td:last-child {
	white-space: nowrap;
}

tr.next {
	font-style: italic;
	background-color: rgba(250, 100, 60, 0.2) !important;
}

.tag {
	background-color: #fc3;
	float: right;
	border: 1px solid black;
	border-radius: 3px;
	color: black;
	padding: 0 2px;
	margin-left: -200px;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 8.8px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6.4px;
	cursor: pointer;
	/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
	background: #ffffff;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
	border: 0px solid rgba(0, 0, 0, 0);
	height: 24px;
	width: 12px;
	border-radius: 3px;
	background: #46b4ff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 6.4px;
	cursor: pointer;
	/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
	background: #ffffff;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
	/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
	border: 0px solid rgba(0, 0, 0, 0);
	height: 24px;
	width: 12px;
	border-radius: 3px;
	background: #46b4ff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 6.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #f2f2f2;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}

input[type=range]::-ms-fill-upper {
	background: #ffffff;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}

input[type=range]::-ms-thumb {
	/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
	border: 0px solid rgba(0, 0, 0, 0);
	height: 24px;
	width: 12px;
	border-radius: 3px;
	background: #46b4ff;
	cursor: pointer;
	height: 6.4px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
	background: #ffffff;
}

.container {
	width: 100%;
}

#custom-body th, #queue-body th {
	width: 30px;
}

.total {
	font-weight: bold;
	margin-left: 30px;
}
